.App {
  width: 100%;
  min-height:100vh;

  text-align: center;
  background-color: #282c34;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-container {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px #535353;

  background-color: #ffffff;
  
}
